@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.child-view {
  position: absolute;
}

main {
  position: relative;
  width: 100%;
  height: 50vh;
}

.slide-left-enter,
.slide-right-leave-active {
  animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-left;
}

.slide-left-leave-active,
.slide-right-enter {
  animation: 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-right;
}

@keyframes slide-left {
  from {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
  }
}

@keyframes slide-right {
  to {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  main {
    width: 50vw;
  }
}
